<div class="row" style="background-color:#49B86E;">
  <div class="col s4 offset-s8 col m1 offset-m11" style="height:70px; padding-top:5px;">
    <center>
      <div style="background-color:#e8f5e9; border-radius: 50%; width:60px; height:60px; padding:8px;">
        <img class="responsive-img" src="img/logut.svg" style="margin-top:10px; height: 30px; cursor: pointer;" alt="" ng-click="logout()"/>
      </div>
    </center>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 col m4 offset-m4">
      <img style="margin-bottom: -65px; z-index:9999;" class="responsive-img" src="img/placa.png" alt=""/>
      <div style="text-align: center;padding: 0px 5px;">
        <span id="msg" style="color: white;">Eu sou a lixeira <b>{{trash.name | uppercase}}</b> e <b ng-if="trash.full"> estou cheia</b> <b ng-if="!trash.full">não estou cheia</b></span>
      </div>
      <img style="margin-top:25px" class="responsive-img" src="img/mascote-320x480.png" alt=""/>
    </div>
  </div>
</div>
